<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907077295345-0fkuvn0tdmofdbnkucckouqlgugq2159.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907077295345-0fkuvn0tdmofdbnkucckouqlgugq2159</string>
	<key>API_KEY</key>
	<string>AIzaSyAhhwzE_tNw1ZvSodoqDNRTwyHgfFXRqao</string>
	<key>GCM_SENDER_ID</key>
	<string>907077295345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fediverse.app</string>
	<key>PROJECT_ID</key>
	<string>fedi-541d6</string>
	<key>STORAGE_BUCKET</key>
	<string>fedi-541d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907077295345:ios:78a6691994008b17aa9d50</string>
	<key>DATABASE_URL</key>
	<string>https://fedi-541d6.firebaseio.com</string>
</dict>
</plist>